body{
    height: 100vh;
    width: 100vw;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: orange;
    height: 40%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    gap: 1rem;
}
